name: Release

on:
  push:
    tags: ['v*']

jobs:
  publish:
    name: Build & Publish
    runs-on: ubuntu-latest

    # Specific permissions for OIDC publishing
    permissions:
      id-token: write
      contents: write

    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v5

      - name: Build
        run: uv build

      - name: Publish to PyPI
        run: uv publish

      - name: GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          files: dist/*
